// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Home row mods macro

#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <17 18>;
        };

        ltab {
            bindings = <&kp LG(TAB)>;
            key-positions = <17 16>;
            layers = <0>;
        };

        pv {
            bindings = <&kp SEMI>;
            key-positions = <27 28>;
        };

        cp {
            bindings = <&kp LG(C)>;
            key-positions = <11 12>;
        };

        pst {
            bindings = <&kp LG(V)>;
            key-positions = <12 13>;
        };

        quotes {
            bindings = <&kp SQT>;
            key-positions = <18 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W  &kp F    &kp P       &kp G             &kp J      &kp L     &kp U      &kp Y    &kp LBKT
&mt LSHFT A  &kp R  &lt 1 S  &lt 2 T     &kp D             &kp M      &kp N     &kp E      &kp I    &kp O
&kp Z        &kp X  &kp C    &kp V       &kp B             &kp K      &kp H     &kp COMMA  &kp DOT  &kp FSLH
                             &lt 2 BSPC  &mt LCMD SPACE    &kp ENTER  &kp BSPC
            >;
        };

        right_layer {
            bindings = <
&kp INS     &kp N1  &kp N2  &kp N3   &trans    &trans    &trans     &kp UP    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
&kp DEL     &kp N4  &kp N5  &kp N6   &trans    &kp HOME  &kp LEFT   &kp DOWN  &kp RIGHT          &kp END
&caps_word  &kp N7  &kp N8  &kp N9   &kp N0    &trans    &mkp LCLK  &trans    &mkp RCLK          &trans
                            &kp DEL  &trans    &trans    &kp DEL
            >;
        };

        left_layer {
            bindings = <
&trans    &kp LBKT  &kp LBRC  &kp RBRC  &trans       &kp CARET  &kp LPAR           &kp RPAR   &kp RBKT  &kp TILDE
&kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp ASTRK  &kp MINUS          &kp EQUAL  &kp BSLH  &kp GRAVE
&trans    &trans    &trans    &trans    &trans       &kp AMPS   &mt EXCL NUMBER_1  &kp PLUS   &kp PIPE  &trans
                              &trans    &trans       &trans     &trans
            >;
        };

        tri_layer {
            bindings = <
&sys_reset   &trans  &trans  &trans      &bt BT_SEL 0    &trans  &trans  &trans  &trans  &sys_reset
&bootloader  &trans  &trans  &trans      &bt BT_SEL 1    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &bt BT_CLR  &bt BT_SEL 2    &trans  &trans  &trans  &trans  &trans
                             &trans      &trans          &trans  &trans
            >;
        };
    };
};
